/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section.home {
    padding: 40px;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 60px;
} */

/* .user-home {
    background-color: #3498db;
}

.merchant-home {
    background-color: #53dd1d;
}
.userzom{
    transform: translateY(20px);
    height: 150px;
    transition: 1.1s; */
    /* padding-left: 42%;
    width: 16%; */
    /* display: inline-block;
}
.userzom:hover{
    transform: scale(0.9);
} */
/* 
.merchantzoom{
    transform: translateY(20px);
    height: 150px;
    transition: 1.1s;
    padding: auto;
    width: auto;
    display: inline-block;
}
.merchantzoom:hover{
    transform: scale(0.9);
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.user h4 {
    display: inline-block;
    background-color: #fff;
    color: #3498db;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.user h4:hover {
    background-color: #331bce;
    color: #fff;
}

.merchant h4 {
    display: inline-block;
    background-color: #fff;
    color: #2080bf;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s;
}

.merchant h4:hover {
    background-color: #0909a0;
    color: #fff;
}

img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
} */